* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 800px;
    margin: 0px auto;
}

.container h1, .container h3, img {
    text-align: center;
}

.homelist {
    list-style-type: none;
}

.homelist li {
    display: inline-block;
}

.image {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 3px;
}