<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Assignment - Node - Cars and Cats</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Cars!</h1>
                <img class="image" src="/images/car01.jpg" alt="/images/car01.jpg">
                <img class="image" src="/images/car02.jpg" alt="/images/car02.jpg">
                <img class="image" src="/images/car03.jpg" alt="/images/car03.jpg">
                <img class="image" src="/images/car04.jpg" alt="/images/car04.jpg"><br>
                <a href="/">Back to Cats!</a>
            </div>
        </div>
    </div>
</body>
</html>